In [1]:
import pandas as pd

In [2]:


df = pd.read_excel(r"C:\Users\loloa\OneDrive\Escritorio\facu\Ciencia de datos\tp\Ciencia-de-Datos\usu_individual_T125.xlsx") # reemplazar x la ruta de cada uno

print(df.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  \
0  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           2    1
1  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           3    0
2  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           4    0
3  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           5    0
4  TQRMNOUPQHLOLOCDEFKID00851757  2025          1          1           1    1

   REGION MAS_500  AGLOMERADO  PONDERA  ...  V21_03_M  V22_01_M V22_02_M  \
0      43       S           4      927  ...         0         0        0
1      43       S           4      927  ...         0         0        0
2      43       S           4      927  ...         0         0        0
3      43       S           4      927  ...         0         0        0
4      43       S           4     1294  ...         0         0        0

   V22_03_M  P_DECCF  P_RDECCF  P_GDECCF  P_PDECCF  P_IDECCF  P_ADECCF
0         0      3.0       2.0       3.0       NaN       3.0       2.0
1         0      3.0       2.0       3.0       NaN       3.0       2.0
2         0      3.0       2.0       3.0       NaN       3.0       2.0
3         0      3.0       2.0       3.0       NaN       3.0       2.0
4         0      3.0       3.0       3.0       NaN       3.0       3.0

[5 rows x 235 columns]

In [3]:
statta = pd.read_stata(r"C:\Users\loloa\OneDrive\Escritorio\facu\Ciencia de datos\tp\Ciencia-de-Datos\Individual_t105.dta")
print(statta.head())

     CODUSU  nro_hogar componente  h15    ano4       trimestre  \
0  125098          1.0        1.0   Sí  2005.0  1er. Trimestre
1  125188          1.0        1.0   Sí  2005.0  1er. Trimestre
2  125188          1.0        2.0   Sí  2005.0  1er. Trimestre
3  125188          1.0        3.0  0.0  2005.0  1er. Trimestre
4  125242          1.0        1.0   Sí  2005.0  1er. Trimestre

              region mas_500              aglomerado  pondera  ... deccfr  \
0  Gran Buenos Aires       S  Ciudad de Buenos Aires   1017.0  ...     08
1  Gran Buenos Aires       S  Ciudad de Buenos Aires   1062.0  ...     02
2  Gran Buenos Aires       S  Ciudad de Buenos Aires   1062.0  ...     02
3  Gran Buenos Aires       S  Ciudad de Buenos Aires   1062.0  ...     02
4  Gran Buenos Aires       S  Ciudad de Buenos Aires   1103.0  ...     09

  ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0              07      08              05   0.0   0.0   0.0  00000
1              02      02              01   0.0   0.0   0.0  40020
2              02      02              01   0.0   0.0   0.0  00000
3              02      02              01   0.0   0.0   0.0  00000
4              09      09              07   0.0   0.0   0.0  00000

[5 rows x 176 columns]

In [4]:
print(statta.columns)  # Mostrar las columnas del DataFrame
print(statta.shape)    # Mostrar la forma del DataFrame (filas, columnas)
print(statta["region"].unique())

Index(['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre',
       'region', 'mas_500', 'aglomerado', 'pondera',
       ...
       'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr',
       'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'],
      dtype='object', length=176)
(47030, 176)
['Gran Buenos Aires', 'NOA', 'NEA', 'Cuyo', 'Pampeana', 'Patagónica']
Categories (6, object): ['Gran Buenos Aires' < 'NOA' < 'NEA' < 'Cuyo' < 'Pampeana' < 'Patagónica']

In [5]:
print(df.columns)  # Mostrar las columnas del DataFrame
print(df.shape)    # Mostrar la forma del DataFrame (filas, columnas)
print(df["REGION"].unique()) 
#43 es pampeana

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF',
       'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF'],
      dtype='object', length=235)
(45425, 235)
[43 41 42 40 44  1]

In [6]:
df_pampeana2025 = df[df['REGION'] == 43]
print(df_pampeana2025.head())

statta_pampeana2005 = statta[statta['region'] =="Pampeana"]
print(statta_pampeana2005.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  \
0  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           2    1
1  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           3    0
2  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           4    0
3  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           5    0
4  TQRMNOUPQHLOLOCDEFKID00851757  2025          1          1           1    1

   REGION MAS_500  AGLOMERADO  PONDERA  ...  V21_03_M  V22_01_M V22_02_M  \
0      43       S           4      927  ...         0         0        0
1      43       S           4      927  ...         0         0        0
2      43       S           4      927  ...         0         0        0
3      43       S           4      927  ...         0         0        0
4      43       S           4     1294  ...         0         0        0

   V22_03_M  P_DECCF  P_RDECCF  P_GDECCF  P_PDECCF  P_IDECCF  P_ADECCF
0         0      3.0       2.0       3.0       NaN       3.0       2.0
1         0      3.0       2.0       3.0       NaN       3.0       2.0
2         0      3.0       2.0       3.0       NaN       3.0       2.0
3         0      3.0       2.0       3.0       NaN       3.0       2.0
4         0      3.0       3.0       3.0       NaN       3.0       3.0

[5 rows x 235 columns]
         CODUSU  nro_hogar componente  h15    ano4       trimestre    region  \
29150  125082          1.0        1.0   Sí  2005.0  1er. Trimestre  Pampeana
29151  125082          1.0        2.0   Sí  2005.0  1er. Trimestre  Pampeana
29152  125082          1.0        3.0  0.0  2005.0  1er. Trimestre  Pampeana
29153  125283          1.0        1.0   Sí  2005.0  1er. Trimestre  Pampeana
29154  125283          1.0        2.0   Sí  2005.0  1er. Trimestre  Pampeana

      mas_500     aglomerado  pondera  ... deccfr ideccfr rdeccfr gdeccfr  \
29150       S  Gran La Plata    377.0  ...     05      05      04      04
29151       S  Gran La Plata    377.0  ...     05      05      04      04
29152       S  Gran La Plata    377.0  ...     05      05      04      04
29153       S  Gran La Plata    283.0  ...     10      10      10      09
29154       S  Gran La Plata    283.0  ...     10      10      10      09

      pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
29150              04   0.0   0.0   0.0  00000
29151              04   0.0   0.0   0.0  00000
29152              04   0.0   0.0   0.0  00000
29153              09   0.0   0.0   0.0  20000
29154              09   0.0   0.0   0.0  21000

[5 rows x 176 columns]

In [7]:
df_pampeana2025.columns = df_pampeana2025.columns.str.lower()
print(df_pampeana2025.head())

                          codusu  ano4  trimestre  nro_hogar  componente  h15  \
0  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           2    1
1  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           3    0
2  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           4    0
3  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           5    0
4  TQRMNOUPQHLOLOCDEFKID00851757  2025          1          1           1    1

   region mas_500  aglomerado  pondera  ...  v21_03_m  v22_01_m v22_02_m  \
0      43       S           4      927  ...         0         0        0
1      43       S           4      927  ...         0         0        0
2      43       S           4      927  ...         0         0        0
3      43       S           4      927  ...         0         0        0
4      43       S           4     1294  ...         0         0        0

   v22_03_m  p_deccf  p_rdeccf  p_gdeccf  p_pdeccf  p_ideccf  p_adeccf
0         0      3.0       2.0       3.0       NaN       3.0       2.0
1         0      3.0       2.0       3.0       NaN       3.0       2.0
2         0      3.0       2.0       3.0       NaN       3.0       2.0
3         0      3.0       2.0       3.0       NaN       3.0       2.0
4         0      3.0       3.0       3.0       NaN       3.0       3.0

[5 rows x 235 columns]

In [40]:
columns_to_check = ['ch04', 'ch06', 'ch07', 'ch08', 'nivel_ed', 'estado', 'cat_inac', 'ipcf']

print("Unique values in df_pampeana2025:")
for col in columns_to_check:
    if col in df_pampeana2025.columns:
        print(f"{col}: {df_pampeana2025[col].unique()}")
    else:
        print(f"{col}: Column not found in df_pampeana2025")

print("\nUnique values in statta_pampeana2005:")
for col in columns_to_check:
    if col in statta_pampeana2005.columns:
        print(f"{col}: {statta_pampeana2005[col].unique()}")
    else:
        print(f"{col}: Column not found in statta_pampeana2005")

Unique values in df_pampeana2025:
ch04: [2 1]
ch06: [25  7  4 -1 29 13  5 39 41  2 51 28 24 19 49 58 23 22 68 60 47 42 44 37
 35 12 11 10 53 16 78 61 62 63 14  8 27 26 20 31 43 59 21 34 81 32 30 75
 76 33 15 55 65 73 52 56 48 40 57 66 36 86 80 72 74 79 45 87 82 64 38  6
  3 71  9 46 17 18  1 90 77 67 54 84 50 69 89 70 85 92 83 88 93 91 97 95
 94 96]
ch07: [1 5 2 4 3]
ch08: <IntegerArray>
[4, 1, 2, 3, 12, 123, 9, 13]
Length: 8, dtype: Int64
nivel_ed: [4 1 7 5 6 3 2]
estado: [1 4 3 2 0]
cat_inac: [0 3 5 4 1 6 2 7]
ipcf: [ 205600.    230000.    350000.   ...   36666.67 1037500.    616000.  ]

Unique values in statta_pampeana2005:
ch04: [1, 2]
Categories (2, int64): [1 < 2]
ch06: [28.0, 30.0, 4.0, 66.0, 60.0, ..., 93.0, 90.0, 95.0, 94.0, 97.0]
Length: 98
Categories (99, float64): [-1.0 < 1.0 < 2.0 < 3.0 ... 95.0 < 96.0 < 97.0 < 98.0]
ch07: ['Casado', 'Soltero', 'Unido', 'Viudo', 'Separado o divorciado', 'Ns./Nr.']
Categories (6, object): ['Unido' < 'Casado' < 'Separado o divorciado' < 'Viudo' < 'Soltero' < 'Ns./Nr.']
ch08: ['No paga ni le descuentan', 'Obra social (incluye PAMI)', 'Mutual/Prepaga/Servicio de emergencia', 'Obra social y mutual/prepaga/servicio de emergencia', 'Obra social y planes y seguros públicos', 'Obra social, mutual/prepaga/servicio de emergencia y planes', 'Planes y seguros públicos', 'Mutual/prepaga/servicio de emergencia/planes y seguros públi', 'Ns./Nr.']
Categories (9, object): ['Obra social (incluye PAMI)' < 'Mutual/Prepaga/Servicio de emergencia' < 'Planes y seguros públicos' < 'No paga ni le descuentan' ... 'Obra social y mutual/prepaga/servicio de emergencia' < 'Obra social y planes y seguros públicos' < 'Mutual/prepaga/servicio de emergencia/planes y seguros públi' < 'Obra social, mutual/prepaga/servicio de emergencia y planes']
nivel_ed: ['Primaria Completa', 'Superior Universitaria Completa', 'Sin instrucción', 'Secundaria Incompleta', 'Superior Universitaria Incompleta', 'Secundaria Completa', 'Primaria Incompleta (incluye educación especial)']
Categories (7, object): ['Primaria Incompleta (incluye educación especial)' < 'Primaria Completa' < 'Secundaria Incompleta' < 'Secundaria Completa' < 'Superior Universitaria Incompleta' < 'Superior Universitaria Completa' < 'Sin instrucción']
estado: ['Ocupado', 'Menor de 10 años', 'Inactivo', 'Desocupado', 'Entrevista individual no realizada (no respuesta al cuestion']
Categories (5, object): ['Entrevista individual no realizada (no respuesta al cuestion' < 'Ocupado' < 'Desocupado' < 'Inactivo' < 'Menor de 10 años']
cat_inac: [0.0, 'Menor de 6 años', 'Jubilado/pensionado', 'Estudiante', 'Ama de casa', 'Rentista', 'Discapacitado', 'Otros']
Categories (8, object): [0.0 < 'Jubilado/pensionado' < 'Rentista' < 'Estudiante' < 'Ama de casa' < 'Menor de 6 años' < 'Discapacitado' < 'Otros']
ipcf: [ 280.    1075.     400.    ...  682.5    274.625  615.   ]

In [9]:
# el prompt: from ch04 in statta_pampeana2005 , transform "Varón" to 1 and "Mujer" to 2
statta_pampeana2005['ch04'] = statta_pampeana2005['ch04'].replace({'Varón': 1, 'Mujer': 2})

C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\3563480148.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  statta_pampeana2005['ch04'] = statta_pampeana2005['ch04'].replace({'Varón': 1, 'Mujer': 2})
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\3563480148.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  statta_pampeana2005['ch04'] = statta_pampeana2005['ch04'].replace({'Varón': 1, 'Mujer': 2})
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\3563480148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statta_pampeana2005['ch04'] = statta_pampeana2005['ch04'].replace({'Varón': 1, 'Mujer': 2})

In [10]:
#ch06. valores: edad. 1 a 100
only_in_statta = set(statta_pampeana2005["ch06"].unique()) - set(df_pampeana2025["ch06"].unique())
print("Values only in statta_pampeana2005['ch06']:", only_in_statta)

only_in_df = set(df_pampeana2025["ch06"].unique()) - set(statta_pampeana2005["ch06"].unique())
print("Values only in df_pampeana2025['ch06']:", only_in_df)

Values only in statta_pampeana2005['ch06']: {'Menos de 1 año', '98 y más años'}
Values only in df_pampeana2025['ch06']: {np.int64(101), np.int64(102), np.int64(-1)}

In [11]:
statta_pampeana2005['ch06'] = statta_pampeana2005['ch06'].replace('Menos de 1 año', -1)
statta_pampeana2005["ch06"] = statta_pampeana2005["ch06"].replace("98 y más años",98)
#aca no se si cortar en 97 en los 2 para que quede igual, o dejarlo asi.
#por ahora lo hago y de ultima lo dejamos como comentario
statta_pampeana2005 = statta_pampeana2005[statta_pampeana2005["ch06"].astype(float) <= 97]
df_pampeana2025 = df_pampeana2025[df_pampeana2025["ch06"].astype(float) <= 97]

C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2186132469.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  statta_pampeana2005['ch06'] = statta_pampeana2005['ch06'].replace('Menos de 1 año', -1)
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2186132469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statta_pampeana2005['ch06'] = statta_pampeana2005['ch06'].replace('Menos de 1 año', -1)
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2186132469.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  statta_pampeana2005["ch06"] = statta_pampeana2005["ch06"].replace("98 y más años",98)
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2186132469.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  statta_pampeana2005["ch06"] = statta_pampeana2005["ch06"].replace("98 y más años",98)
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2186132469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statta_pampeana2005["ch06"] = statta_pampeana2005["ch06"].replace("98 y más años",98)

In [12]:
d2005=statta_pampeana2005
d2025=df_pampeana2025

print("Are the unique values equal?", set(d2005["ch06"].unique()) == set(d2025["ch06"].unique()))
#listo ch06

Are the unique values equal? True

In [ ]:
#ch07... 1=unido 2= casado 3=separado 4=viudo 5=soltero
#['Casado', 'Soltero', 'Unido', 'Viudo', 'Separado o divorciado', 'Ns./Nr.']
#saco las filas con ns/nr



d2005 = d2005[d2005['ch07'] != 'Ns./Nr.']
d2005['ch07'] = d2005['ch07'].replace({
    'Unido': 1,
    'Casado': 2,
    'Separado o divorciado': 3,
    'Viudo': 4,
    'Soltero': 5
})
print("Are the unique values equal?", set(d2005["ch07"].unique()) == set(d2025["ch07"].unique()))

C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2914244585.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  d2005['ch07'] = d2005['ch07'].replace({
C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\2914244585.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2005['ch07'] = d2005['ch07'].replace({

In [39]:
d2005['ch08'] = d2005['ch08'].replace({
    'No paga ni le descuentan': 4,
    'Obra social (incluye PAMI)': 1,
    'Mutual/Prepaga/Servicio de emergencia': 2,
    'Obra social y mutual/prepaga/servicio de emergencia': 12,
    'Obra social y planes y seguros públicos': 13,
    'Obra social, mutual/prepaga/servicio de emergencia y planes': 123,
    'Planes y seguros públicos': 3,
    'Mutual/prepaga/servicio de emergencia/planes y seguros públi': 23,
    'Ns./Nr.': 9
})
d2025["ch08"] = d2025["ch08"].astype('Int64')

print(d2025["ch08"].unique())
print(d2005["ch08"].unique())
#es medio confuso porque falta el 23 en el d2025 pero estan de igual formato

<IntegerArray>
[4, 1, 2, 3, 12, 123, 9, 13]
Length: 8, dtype: Int64
<IntegerArray>
[4, 1, 2, 12, 13, 123, 3, 23, 9]
Length: 9, dtype: Int64

C:\Users\loloa\AppData\Local\Temp\ipykernel_15904\3293158098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2005['ch08'] = d2005['ch08'].replace({

In [ ]:

d2005["cat_inac"] = d2005["cat_inac"].replace({
    "Jubilado/pensionado": 1,
    "Rentista": 2,
    "Estudiante": 3,
    "Ama de casa": 4,
    "Menor de 6 años": 5,
    "Discapacitado": 6,
    "Otros": 7
})

#el d2005 tambien tiene un 0, a priori lo borro pq no tiene significado lo pueden revertir haciendo comentario la linea d abajo
d2005 = d2005[d2005["cat_inac"] != 0]
print(d2005["cat_inac"].unique())

[5.0, 1.0, 3.0, 4.0, 2.0, 6.0, 7.0]
Categories (8, float64): [0.0 < 1.0 < 2.0 < 3.0 < 4.0 < 5.0 < 6.0 < 7.0]
[5.0, 1.0, 3.0, 4.0, 2.0, 6.0, 7.0]
Categories (8, float64): [0.0 < 1.0 < 2.0 < 3.0 < 4.0 < 5.0 < 6.0 < 7.0]

In [ ]:
#ipcf. esta en pesos, supongo que lo ajusto por infla

print("d2005 ipcf min:", d2005["ipcf"].min(), "max:", d2005["ipcf"].max())
print("d2025 ipcf min:", d2025["ipcf"].min(), "max:", d2025["ipcf"].max())


#le aplico la inflacion marzo 2005-marzo 2025
if not hasattr(d2005, "_ipcf_adjusted"):
    d2005["ipcf"] = d2005["ipcf"] * 969.61  # ajuste por inflación aproximado
    d2005._ipcf_adjusted = True

print("d2005 ipcf min:", d2005["ipcf"].min(), "max:", d2005["ipcf"].max())
print("d2025 ipcf min:", d2025["ipcf"].min(), "max:", d2025["ipcf"].max())


#debería andar

d2005 ipcf min: 0.0 max: 5.859194981789919e+27
d2025 ipcf min: 0.0 max: 8600000.0
d2005 ipcf min: 0.0 max: 5.681134046293323e+30
d2025 ipcf min: 0.0 max: 8600000.0