In [10]:
import pandas as pd


df = pd.read_excel(r"C:\Users\loloa\OneDrive\Escritorio\facu\Ciencia de datos\tp\Ciencia-de-Datos\usu_individual_T125.xlsx") # reemplazar x la ruta de cada uno

print(df.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  \
0  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           2    1
1  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           3    0
2  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           4    0
3  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           5    0
4  TQRMNOUPQHLOLOCDEFKID00851757  2025          1          1           1    1

   REGION MAS_500  AGLOMERADO  PONDERA  ...  V21_03_M  V22_01_M V22_02_M  \
0      43       S           4      927  ...         0         0        0
1      43       S           4      927  ...         0         0        0
2      43       S           4      927  ...         0         0        0
3      43       S           4      927  ...         0         0        0
4      43       S           4     1294  ...         0         0        0

   V22_03_M  P_DECCF  P_RDECCF  P_GDECCF  P_PDECCF  P_IDECCF  P_ADECCF
0         0      3.0       2.0       3.0       NaN       3.0       2.0
1         0      3.0       2.0       3.0       NaN       3.0       2.0
2         0      3.0       2.0       3.0       NaN       3.0       2.0
3         0      3.0       2.0       3.0       NaN       3.0       2.0
4         0      3.0       3.0       3.0       NaN       3.0       3.0

[5 rows x 235 columns]

In [ ]:
statta = pd.read_stata(r"C:\Users\loloa\OneDrive\Escritorio\facu\Ciencia de datos\tp\Ciencia-de-Datos\Individual_t105.dta")
print(statta.head())

     CODUSU  nro_hogar componente  h15    ano4       trimestre  \
0  125098          1.0        1.0   Sí  2005.0  1er. Trimestre
1  125188          1.0        1.0   Sí  2005.0  1er. Trimestre
2  125188          1.0        2.0   Sí  2005.0  1er. Trimestre
3  125188          1.0        3.0  0.0  2005.0  1er. Trimestre
4  125242          1.0        1.0   Sí  2005.0  1er. Trimestre

              region mas_500              aglomerado  pondera  ... deccfr  \
0  Gran Buenos Aires       S  Ciudad de Buenos Aires   1017.0  ...     08
1  Gran Buenos Aires       S  Ciudad de Buenos Aires   1062.0  ...     02
2  Gran Buenos Aires       S  Ciudad de Buenos Aires   1062.0  ...     02
3  Gran Buenos Aires       S  Ciudad de Buenos Aires   1062.0  ...     02
4  Gran Buenos Aires       S  Ciudad de Buenos Aires   1103.0  ...     09

  ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0              07      08              05   0.0   0.0   0.0  00000
1              02      02              01   0.0   0.0   0.0  40020
2              02      02              01   0.0   0.0   0.0  00000
3              02      02              01   0.0   0.0   0.0  00000
4              09      09              07   0.0   0.0   0.0  00000

[5 rows x 176 columns]

In [ ]:
print(statta.columns)  # Mostrar las columnas del DataFrame
print(statta.shape)    # Mostrar la forma del DataFrame (filas, columnas)
print(statta["region"].unique())

Index(['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre',
       'region', 'mas_500', 'aglomerado', 'pondera',
       ...
       'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr',
       'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'],
      dtype='object', length=176)
(47030, 176)
['Gran Buenos Aires', 'NOA', 'NEA', 'Cuyo', 'Pampeana', 'Patagónica']
Categories (6, object): ['Gran Buenos Aires' < 'NOA' < 'NEA' < 'Cuyo' < 'Pampeana' < 'Patagónica']

In [ ]:
print(df.columns)  # Mostrar las columnas del DataFrame
print(df.shape)    # Mostrar la forma del DataFrame (filas, columnas)
print(df["REGION"].unique()) 
#43 es pampeana

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF',
       'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF'],
      dtype='object', length=235)
(45425, 235)
[43 41 42 40 44  1]

In [19]:
df_pampeana2025 = df[df['REGION'] == 43]
print(df_pampeana2025.head())

statta_pampeana2005 = statta[statta['region'] =="Pampeana"]
print(statta_pampeana2005.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  \
0  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           2    1
1  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           3    0
2  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           4    0
3  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           5    0
4  TQRMNOUPQHLOLOCDEFKID00851757  2025          1          1           1    1

   REGION MAS_500  AGLOMERADO  PONDERA  ...  V21_03_M  V22_01_M V22_02_M  \
0      43       S           4      927  ...         0         0        0
1      43       S           4      927  ...         0         0        0
2      43       S           4      927  ...         0         0        0
3      43       S           4      927  ...         0         0        0
4      43       S           4     1294  ...         0         0        0

   V22_03_M  P_DECCF  P_RDECCF  P_GDECCF  P_PDECCF  P_IDECCF  P_ADECCF
0         0      3.0       2.0       3.0       NaN       3.0       2.0
1         0      3.0       2.0       3.0       NaN       3.0       2.0
2         0      3.0       2.0       3.0       NaN       3.0       2.0
3         0      3.0       2.0       3.0       NaN       3.0       2.0
4         0      3.0       3.0       3.0       NaN       3.0       3.0

[5 rows x 235 columns]
         CODUSU  nro_hogar componente  h15    ano4       trimestre    region  \
29150  125082          1.0        1.0   Sí  2005.0  1er. Trimestre  Pampeana
29151  125082          1.0        2.0   Sí  2005.0  1er. Trimestre  Pampeana
29152  125082          1.0        3.0  0.0  2005.0  1er. Trimestre  Pampeana
29153  125283          1.0        1.0   Sí  2005.0  1er. Trimestre  Pampeana
29154  125283          1.0        2.0   Sí  2005.0  1er. Trimestre  Pampeana

      mas_500     aglomerado  pondera  ... deccfr ideccfr rdeccfr gdeccfr  \
29150       S  Gran La Plata    377.0  ...     05      05      04      04
29151       S  Gran La Plata    377.0  ...     05      05      04      04
29152       S  Gran La Plata    377.0  ...     05      05      04      04
29153       S  Gran La Plata    283.0  ...     10      10      10      09
29154       S  Gran La Plata    283.0  ...     10      10      10      09

      pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
29150              04   0.0   0.0   0.0  00000
29151              04   0.0   0.0   0.0  00000
29152              04   0.0   0.0   0.0  00000
29153              09   0.0   0.0   0.0  20000
29154              09   0.0   0.0   0.0  21000

[5 rows x 176 columns]

In [27]:
df_pampeana2025.columns = df_pampeana2025.columns.str.lower()
print(df_pampeana2025.head())

                          codusu  ano4  trimestre  nro_hogar  componente  h15  \
0  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           2    1
1  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           3    0
2  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           4    0
3  TQRMNOVQVHJOLOCDEFKID00875778  2025          1          1           5    0
4  TQRMNOUPQHLOLOCDEFKID00851757  2025          1          1           1    1

   region mas_500  aglomerado  pondera  ...  v21_03_m  v22_01_m v22_02_m  \
0      43       S           4      927  ...         0         0        0
1      43       S           4      927  ...         0         0        0
2      43       S           4      927  ...         0         0        0
3      43       S           4      927  ...         0         0        0
4      43       S           4     1294  ...         0         0        0

   v22_03_m  p_deccf  p_rdeccf  p_gdeccf  p_pdeccf  p_ideccf  p_adeccf
0         0      3.0       2.0       3.0       NaN       3.0       2.0
1         0      3.0       2.0       3.0       NaN       3.0       2.0
2         0      3.0       2.0       3.0       NaN       3.0       2.0
3         0      3.0       2.0       3.0       NaN       3.0       2.0
4         0      3.0       3.0       3.0       NaN       3.0       3.0

[5 rows x 235 columns]

In [ ]:
# Verificar si los nombres de columnas son iguales entre ambos DataFrames
same_columns = set(df_pampeana2025.columns) == set(statta_pampeana2005.columns)
print("¿Tienen los mismos nombres de columnas?:", same_columns)

# Mostrar las diferencias si no son iguales
if not same_columns:
    print("Columnas en df_pampeana2025 y no en statta_pampeana2005:", set(df_pampeana2025.columns) - set(statta_pampeana2005.columns))
    print("Columnas en statta_pampeana2005 y no en df_pampeana2025:", set(statta_pampeana2005.columns) - set(df_pampeana2025.columns))

In [ ]:
pd.concat([df_pampeana2025, statta_pampeana2005], axis=1)